.contact-item {
    display: flex;         
    align-items: center;   
    gap: 15px;             
    margin-bottom: 15px;   
}
.icon {
    display: block;
    object-fit: contain;   
    flex-shrink: 0;   
    width: 40px;
    height: auto;     
}
.contact-item h3 {
    display: flex;
    flex-direction: column;
    margin: 15px;
    line-height: 1.3;
}

.mesendj-container {
    display: flex;
    justify-content: center; 
    gap: 15px;               
    padding: 10px 15px;
}


.mesendj-btn {
    display: flex;
    align-items: center;     
    padding: 10px 20px;
    cursor: pointer;
    height: 40px; 
    width: 150px;
}
.mesendj-btn .icon {
    width: 30px;
    height: auto;
    margin-right: 8px;
}
