*{
    background-color: #F0E6DA;;
}
body {
    margin: 0;
    padding-top: 80px; /* Важливо: відступ зверху, щоб контент не заїжджав під меню */
}


.scroll-container {
    overflow-x: auto;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 9999; /* Дуже велике значення, щоб було поверх всього */
    display: flex;
    padding: 10px;
    background-color: #f4f7f6;
}

.scroll-item {
    flex-shrink: 0; /* Важливо: кнопки не стискаються */
    padding: 10px 20px;
    background-color: rgb(0, 244, 73);
    border: 2px solid #ff0000;
    border-radius: 25px;
    color: #1414cd;
    cursor: pointer;
}

.scroll-item.active {
    background-color: #333 !important;
    color: white !important;
    border: 2px solid #333;
}
html {
  scroll-behavior: smooth;
}

/* Додаємо відступ до всіх секцій, на які веде навігація */
section {
    scroll-margin-top: 100px; /* 100px — це висота вашого меню + трохи повітря */
}